<!-- GSXD-DEBUG:BEGIN type=LAYOUT file=showroom/partials/showroom-map-section.html uid=92a1a0a7 -->
<!-- Section: Fullscreen image -->
<!-- GSXD-SECTION:BEGIN file=showroom/partials/showroom-map-section.html tag=section idx=001 uid=5e121998 -->
<section class="max-w-[1920px] h-auto mx-auto lg:pt-8">
  <img
    src="/assets/images/showroom-map.png"
    alt="Showroom Full Image"
    class="w-full h-auto object-cover"
  />
</section>
<!-- GSXD-DEBUG:END type=LAYOUT file=showroom/partials/showroom-map-section.html uid=92a1a0a7 -->



