<!-- GSXD-DEBUG:BEGIN type=LAYOUT file=products/den-gom-su/partials/banner.html uid=9b12f337 -->
<!-- Banner Section cho trang Đèn Gốm Sứ -->
<!-- GSXD-SECTION:BEGIN file=products/den-gom-su/partials/banner.html tag=section idx=001 uid=b2a69728 -->
<section class="relative w-full overflow-hidden">
  <!-- Background Image -->
  <div class="relative z-0">
    <img
      src="/assets/images/den-gom-banner.png"
      alt="Đèn Gốm Sứ Banner"
      class="w-full h-auto -mt-[60px] md:-mt-[100px] object-cover"
    />
  </div>

  <!-- Text Overlay - Absolute bottom right -->
  <div
    class="absolute bottom-12 right-12 md:bottom-32 md:right-24 lg:bottom-44 lg:right-[10%] z-10 text-white text-right"
    data-aos="fade-left"
  >
    <h1
      class="font-carattere text-[48px] md:text-[80px] lg:text-[128px] leading-[0.8] drop-shadow-2xl select-none"
    >
      Đèn gốm sứ
    </h1>
  </div>
</section>
<!-- GSXD-DEBUG:END type=LAYOUT file=products/den-gom-su/partials/banner.html uid=9b12f337 -->



