<!-- Process Section -->
<section
  class="w-[85%] max-w-[1320px] mx-auto pb-[20px] md:pb-16"
  data-aos="fade-up"
>
  <!-- Texts -->
  <div class="w-full mb-[10px] md:mb-10">
    <div class="flex flex-col w-full">
      <h2
        class="text-secondary font-italianno text-[45px] md:text-[60px] leading-none text-left drop-shadow-sm"
      >
        Cùng chúng tôi hiện thực hóa mẫu gạch trong mơ...
      </h2>
      <h2
        class="text-secondary font-italianno text-[45px] md:text-[60px] leading-none text-right mt-2 drop-shadow-sm"
      >
        Yêu cầu của bạn là gì?
      </h2>
    </div>
  </div>

  <!-- Image Process -->
  <div class="w-full flex justify-center mb-[15px] md:mb-6">
    <img
      src="/assets/images/process.png"
      alt="Quy trình chế tác gạch"
      class="w-full h-auto object-contain"
    />
  </div>

  <!-- Note Text -->
  <div class="w-full">
    <p class="text-base md:text-xl italic text-primary font-thin">
      * Để đảm bảo sự hoàn mỹ: Quá trình chế tác mẫu có tính phí và thời gian
      thực hiện tùy thuộc vào độ tinh xảo của sản phẩm
    </p>
  </div>
</section>

<!-- 2 Images Section -->
<section class="w-full max-w-[1920px] mx-auto">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-6">
    <img
      src="/assets/images/trang-tri-01.png"
      alt="Gạch Trang Trí 1"
      class="w-full h-auto object-contain shadow-lg bg-white"
      data-aos="fade-up"
    />
    <img
      src="/assets/images/trang-tri-02.png"
      alt="Gạch Trang Trí 2"
      class="hidden md:block w-full h-auto object-contain shadow-lg bg-white"
      data-aos="fade-up"
    />
  </div>
</section>