<!-- Banner Section -->
<section
  class="relative h-[70vh] min-h-[500px] max-h-[740px] lg:h-[663px] flex items-center justify-center text-neutral-1 overflow-hidden"
>
  <!-- Background Image -->
  <div class="absolute inset-0 z-0">
    <img
      src="/assets/images/about-banner.jpg"
      alt="About Banner"
      class="w-full h-full object-cover"
    />
    <div
      class="absolute inset-0"
      style="
        background:
          linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 16.89%,
            rgba(21, 21, 21, 0.5) 75.07%,
            rgba(0, 0, 0, 0.5) 99.72%
          ),
          linear-gradient(
            0deg,
            rgba(46, 47, 42, 0.59) 0%,
            rgba(46, 47, 42, 0.59) 100%
          );
      "
    ></div>
    <!-- Dark overlay -->
  </div>

  <!-- Content -->
  <div
    class="relative z-10 text-center container mx-auto px-4 flex flex-col items-center"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    <p
      class="text-sm md:text-base mb-6 font-light tracking-wide text-neutral-1"
    >
      Trang chủ &nbsp; > &nbsp; Về chúng tôi
    </p>
    <h1
      class="text-xl md:text-2xl font-semibold mb-4 uppercase tracking-wide text-neutral-1"
    >
      GỐM SỨ THANH HẢI
    </h1>
    <h2
      class="text-[32px] md:text-[48px] font-archivo font-extrabold uppercase leading-[44px] md:leading-[65px] max-w-4xl flex flex-col gap-2 md:gap-4 text-neutral-1"
    >
      <span>40 NĂM - LỬA NGHỀ</span>
      <span>CHƯA BAO GIỜ TẮT</span>
    </h2>
  </div>
</section>
