<!-- GSXD-DEBUG:BEGIN type=LAYOUT file=about/partials/banner.html uid=9943e44a -->
<!-- GSXD-SECTION:BEGIN file=about/partials/banner.html tag=section idx=001 uid=3941cba3 -->
<section
  class="relative h-[572px] md:h-[70vh] md:min-h-[500px] md:max-h-[740px] lg:h-[663px] flex items-start md:items-center justify-center overflow-hidden"
  style="color-scheme: light"
>
  <div class="absolute inset-0 z-0">
    <img
      src="/assets/images/about-banner.jpg"
      alt="About Banner"
      class="w-full h-full object-cover"
    />
    <div
      class="absolute inset-0 bg-[linear-gradient(180deg,rgba(255,255,255,0)_0%,rgba(77.47,77.47,77.47,0.48)_24%,rgba(0,0,0,0.60)_49%)] md:bg-[linear-gradient(180deg,rgba(0,0,0,0)_16.89%,rgba(21,21,21,0.5)_75.07%,rgba(0,0,0,0.5)_99.72%),linear-gradient(0deg,rgba(46,47,42,0.59)_0%,rgba(46,47,42,0.59)_100%)]"
    ></div>
  </div>

  <div
    class="relative z-10 text-center container mx-auto px-4 flex flex-col items-center pt-[170px] md:pt-0"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    <p
      class="text-[14px] md:text-base mb-6 font-light leading-[24.5px] tracking-[0.35px] md:tracking-wide !text-[#F5EDE7] md:!text-[#EFE4DE]"
    >
      Trang chủ &nbsp; > &nbsp; Về chúng tôi
    </p>
    <h1
      class="text-[20px] md:text-2xl font-semibold mb-4 uppercase leading-[28px] tracking-[0.5px] md:tracking-wide !text-[#F5EDE7] md:!text-[#EFE4DE]"
    >
      GỐM SỨ THANH HẢI
    </h1>
    <h2
      class="text-[32px] md:text-[48px] font-archivo font-extrabold uppercase leading-[44px] md:leading-[65px] max-w-4xl flex flex-col gap-2 md:gap-4 !text-[#F5EDE7] md:!text-[#EFE4DE]"
    >
      <span>40 NĂM - LỬA NGHỀ</span>
      <span>CHƯA BAO GIỜ TẮT</span>
    </h2>
  </div>
</section>
<!-- GSXD-DEBUG:END type=LAYOUT file=about/partials/banner.html uid=9943e44a -->



