<!-- GSXD-DEBUG:BEGIN type=LAYOUT file=about/partials/tab-introduction.html uid=c49e9ccc -->
<!-- Về gốm sứ Thanh Hải -->
<div
  id="tab-introduction"
  class="tab-content block animate-fade-in-up w-full"
>
  <div class="w-[85%] lg:w-[85%] max-w-[1320px] mx-auto md:px-4">
<!-- GSXD-PARTIAL:BEGIN file=about/partials/tab-introduction.html include=about/partials/intro-story idx=001 uid=9d45c0c4 -->
{{> about/partials/intro-story}}
<!-- GSXD-PARTIAL:BEGIN file=about/partials/tab-introduction.html include=about/partials/core-values idx=002 uid=2effd329 -->
{{> about/partials/core-values}}
<!-- GSXD-PARTIAL:BEGIN file=about/partials/tab-introduction.html include=about/partials/journey idx=003 uid=108922e6 -->
{{> about/partials/journey}}
<!-- GSXD-PARTIAL:BEGIN file=about/partials/tab-introduction.html include=about/partials/founders idx=004 uid=3344792d -->
{{> about/partials/founders}}
  </div>
<!-- GSXD-PARTIAL:BEGIN file=about/partials/tab-introduction.html include=about/partials/awards idx=005 uid=3213a3d8 -->
{{> about/partials/awards}}
<!-- GSXD-PARTIAL:BEGIN file=about/partials/tab-introduction.html include=about/partials/certificates idx=006 uid=3d5a0f58 -->
{{> about/partials/certificates}}
</div>
<!-- GSXD-DEBUG:END type=LAYOUT file=about/partials/tab-introduction.html uid=c49e9ccc -->



