<!-- GSXD-DEBUG:BEGIN type=LAYOUT file=about/partials/tab-craft.html uid=2b2dc802 -->
<!-- Nghệ thuật thủ công -->
<div
  id="tab-craft"
  class="tab-content hidden animate-fade-in-up w-full"
>
  <div class="w-[85%] max-w-[1320px] mx-auto md:px-4 tab-craft-copy">
<!-- GSXD-PARTIAL:BEGIN file=about/partials/tab-craft.html include=about/partials/craft-intro idx=001 uid=9321390c -->
{{> about/partials/craft-intro}}
<!-- GSXD-PARTIAL:BEGIN file=about/partials/tab-craft.html include=about/partials/craft-material idx=002 uid=2f6af75a -->
{{> about/partials/craft-material}}
<!-- GSXD-PARTIAL:BEGIN file=about/partials/tab-craft.html include=about/partials/craft-skills idx=003 uid=8dc17a1d -->
{{> about/partials/craft-skills}}
  </div>
</div>
<!-- GSXD-DEBUG:END type=LAYOUT file=about/partials/tab-craft.html uid=2b2dc802 -->



