<!-- Tabs Section -->
<section class="py-[20px] md:py-16 bg-neutral-2">
  <!-- Tab Headers -->
  <div class="w-[85%] lg:w-[85%] max-w-[1320px] mx-auto md:px-4">
    <div class="flex w-full mx-auto mb-12">
      <button
        class="tab-btn active group flex-1 py-4 text-[14px] md:text-3xl font-bold text-secondary border-b-4 border-secondary transition-all duration-300 uppercase focus:outline-none"
        data-tab="tab-introduction"
      >
        VỀ GỐM SỨ THANH HẢI
      </button>
      <button
        class="tab-btn group flex-1 py-4 text-[14px] md:text-3xl font-bold text-secondary border-b-4 border-gray-300 hover:border-secondary transition-all duration-300 uppercase focus:outline-none"
        data-tab="tab-craft"
      >
        NGHỆ THUẬT THỦ CÔNG
      </button>
    </div>
  </div>
  {{> about/partials/tab-introduction}}
  {{> about/partials/tab-craft}}
</section>