<!-- GSXD-DEBUG:BEGIN type=LAYOUT file=components/catalog-button.html uid=a1639f05 -->
<!-- Catalog Sticky Button -->
<!-- GSXD-BLOCK:BEGIN file=components/catalog-button.html tag=a idx=001 uid=fb4becb8 -->
<a href="#" id="catalog-sticky-btn" class="fixed right-0 top-[124px] z-[45] hover:opacity-90 transition-all duration-300 bg-[#AB6520] w-[28px] h-[90px] flex items-center justify-center">
    <span class="catalog-text-vertical">CATALOG</span>
</a>
<!-- GSXD-DEBUG:END type=LAYOUT file=components/catalog-button.html uid=a1639f05 -->




