<!-- FAQ Section -->
<section
  class="w-full relative pb-[65px] md:pb-32 bg-background-secondary overflow-visible gach-hoa-faq-section"
  data-aos="fade-up"
>
  <!-- Background Decoration -->
  <div
    class="absolute z-[2] left-[-40%] md:left-[-30%] lg:left-[-17%] top-[50%] w-[65%] md:w-[55%] lg:w-[50%] pointer-events-none"
    data-aos="fade-up-right"
  >
    <img
      src="/assets/images/gach-hoa-decorate.png"
      alt=""
      class="w-full origin-center -translate-y-1/2 rotate-[-45deg] md:opacity-60 opacity-50 drop-shadow-sm"
    />
  </div>
  <div
    class="absolute z-[2] right-[-40%] md:right-[-30%] lg:right-[-17%] top-[50%] w-[65%] md:w-[55%] lg:w-[50%] pointer-events-none"
    data-aos="fade-up-left"
  >
    <img
      src="/assets/images/gach-hoa-decorate.png"
      alt=""
      class="w-full origin-center -translate-y-1/2 rotate-[45deg] scale-x-[-1] md:opacity-60 opacity-50 drop-shadow-sm"
    />
  </div>

  {{> components/products/faq-content}}
</section>