<!-- GSXD-DEBUG:BEGIN type=LAYOUT file=products/gach-hoa-thong-gio/partials/faq-section.html uid=d78d7f15 -->
<!-- FAQ Section -->
<!-- GSXD-SECTION:BEGIN file=products/gach-hoa-thong-gio/partials/faq-section.html tag=section idx=001 uid=dbaa2428 -->
<section
  class="w-full relative pb-[65px] md:pb-32 bg-background-secondary overflow-visible gach-hoa-faq-section"
  data-aos="fade-up"
>
  <!-- Background Decoration -->
  <div
    class="absolute z-[2] left-[-40%] md:left-[-30%] lg:left-[-17%] top-[50%] w-[65%] md:w-[55%] lg:w-[50%] pointer-events-none"
    data-aos="fade-up-right"
  >
    <img
      src="/assets/images/gach-hoa-decorate.png"
      alt=""
      class="w-full origin-center -translate-y-1/2 rotate-[-45deg] md:opacity-60 opacity-50 drop-shadow-sm"
    />
  </div>
  <div
    class="absolute z-[2] right-[-40%] md:right-[-30%] lg:right-[-17%] top-[50%] w-[65%] md:w-[55%] lg:w-[50%] pointer-events-none"
    data-aos="fade-up-left"
  >
    <img
      src="/assets/images/gach-hoa-decorate.png"
      alt=""
      class="w-full origin-center -translate-y-1/2 rotate-[45deg] scale-x-[-1] md:opacity-60 opacity-50 drop-shadow-sm"
    />
  </div>
<!-- GSXD-PARTIAL:BEGIN file=products/gach-hoa-thong-gio/partials/faq-section.html include=components/products/faq-content idx=001 uid=4f2fd692 -->
{{> components/products/faq-content}}
</section>
<!-- GSXD-DEBUG:END type=LAYOUT file=products/gach-hoa-thong-gio/partials/faq-section.html uid=d78d7f15 -->



