<!-- GSXD-DEBUG:BEGIN type=LAYOUT file=home/partials/products-ngoi-hai.html uid=8a903f6b -->
{{#> home/partials/product-section
  sectionClass="py-[25px] md:py-16 lg:pt-20"
  sectionTitle="Ngói hài văn miếu"
  desktopLinkHref="/products/ngoi-hai-van-mieu/"
  image1="/assets/images/ngoi-01.jpg"
  image2="/assets/images/ngoi-08.jpg"
  image3="/assets/images/ngoi-05.jpg"
  image4="/assets/images/ngoi-06.jpg"
  cardTitle="Riềm Âm Dương Sen Bầu"
  cardCode="MSP: 1234RDS"
  cardPrice="675.000 đ/m2"
}}
  <!-- GSXD-ELEMENT:BEGIN file=home/partials/products-ngoi-hai.html tag=article idx=001 uid=469630bf -->
  <article class="flex-shrink-0 w-full snap-start pb-1" data-product-slide>
    <div class="grid grid-cols-2 gap-4">
<!-- GSXD-PARTIAL:BEGIN file=home/partials/products-ngoi-hai.html include=home/partials/mobile-product-card idx=001 uid=6a96753f -->
{{> home/partials/mobile-product-card href="/products/ngoi-hai-van-mieu/ngoi-hai-co-nau-den.html" image="/assets/images/ngoi-hai-detail.png" title="Ngói hài cổ nâu đen" code="MSP: 1234RDS" price="675.000 đ/m2"}}
<!-- GSXD-PARTIAL:BEGIN file=home/partials/products-ngoi-hai.html include=home/partials/mobile-product-card idx=002 uid=1b437799 -->
{{> home/partials/mobile-product-card href="/products/ngoi-hai-van-mieu/ngoi-van-mieu-ghi-anh-kim.html" image="/assets/images/ngoi-van-mieu-detail.png" title="Ngói văn miếu ghi ánh kim" code="MSP: 1234RDS" price="675.000 đ/m2"}}
<!-- GSXD-PARTIAL:BEGIN file=home/partials/products-ngoi-hai.html include=home/partials/mobile-product-card idx=003 uid=4d386604 -->
{{> home/partials/mobile-product-card href="/products/ngoi-hai-van-mieu/ngoi-hai-co-nau-den.html" image="/assets/images/ngoi-hai-01.png" title="Ngói hài cổ" code="MSP: 1234RDS" price="675.000 đ/m2"}}
<!-- GSXD-PARTIAL:BEGIN file=home/partials/products-ngoi-hai.html include=home/partials/mobile-product-card idx=004 uid=c198b23a -->
{{> home/partials/mobile-product-card href="/products/ngoi-hai-van-mieu/ngoi-van-mieu-ghi-anh-kim.html" image="/assets/images/ngoi-hai-02.png" title="Ngói hài văn miếu" code="MSP: 1234RDS" price="675.000 đ/m2"}}
    </div>
  </article>

  <!-- GSXD-ELEMENT:BEGIN file=home/partials/products-ngoi-hai.html tag=article idx=002 uid=162bf118 -->

  <article class="flex-shrink-0 w-full snap-start pb-1" data-product-slide>
    <div class="grid grid-cols-2 gap-4">
<!-- GSXD-PARTIAL:BEGIN file=home/partials/products-ngoi-hai.html include=home/partials/mobile-product-card idx=005 uid=97c79d09 -->
{{> home/partials/mobile-product-card href="/products/ngoi-hai-van-mieu/ngoi-hai-co-nau-den.html" image="/assets/images/ngoi-hai-03.png" title="Ngói hài cổ nâu đen" code="MSP: 1234RDS" price="675.000 đ/m2"}}
<!-- GSXD-PARTIAL:BEGIN file=home/partials/products-ngoi-hai.html include=home/partials/mobile-product-card idx=006 uid=fcfc2fd2 -->
{{> home/partials/mobile-product-card href="/products/ngoi-hai-van-mieu/ngoi-van-mieu-ghi-anh-kim.html" image="/assets/images/ngoi-hai-detail.png" title="Ngói văn miếu ghi ánh kim" code="MSP: 1234RDS" price="675.000 đ/m2"}}
<!-- GSXD-PARTIAL:BEGIN file=home/partials/products-ngoi-hai.html include=home/partials/mobile-product-card idx=007 uid=946b8fdd -->
{{> home/partials/mobile-product-card href="/products/ngoi-hai-van-mieu/ngoi-hai-co-nau-den.html" image="/assets/images/ngoi-van-mieu-detail.png" title="Ngói hài cổ" code="MSP: 1234RDS" price="675.000 đ/m2"}}
<!-- GSXD-PARTIAL:BEGIN file=home/partials/products-ngoi-hai.html include=home/partials/mobile-product-card idx=008 uid=674bc7b7 -->
{{> home/partials/mobile-product-card href="/products/ngoi-hai-van-mieu/ngoi-van-mieu-ghi-anh-kim.html" image="/assets/images/ngoi-hai-03.png" title="Ngói hài văn miếu" code="MSP: 1234RDS" price="675.000 đ/m2"}}
    </div>
  </article>
{{/home/partials/product-section}}
<!-- GSXD-DEBUG:END type=LAYOUT file=home/partials/products-ngoi-hai.html uid=8a903f6b -->



