<!-- GSXD-DEBUG:BEGIN type=LAYOUT file=news/partials/detail-content.html uid=0da60e5c -->
<!-- GSXD-SECTION:BEGIN file=news/partials/detail-content.html tag=section idx=001 uid=e0410cc5 -->
<section class="py-16 md:py-32 bg-neutral-2">
  <div class="w-[85%] max-w-[1000px] mx-auto flex flex-col">
<!-- GSXD-PARTIAL:BEGIN file=news/partials/detail-content.html include=news/partials/detail-content-overview idx=001 uid=5fd44d0b -->
{{> news/partials/detail-content-overview}}
  </div>
<!-- GSXD-PARTIAL:BEGIN file=news/partials/detail-content.html include=news/partials/detail-content-dual-images idx=002 uid=45aac9d0 -->
{{> news/partials/detail-content-dual-images}}
</section>
<!-- GSXD-DEBUG:END type=LAYOUT file=news/partials/detail-content.html uid=0da60e5c -->



