<!-- GSXD-DEBUG:BEGIN type=LAYOUT file=news/partials/hero.html uid=53bd79ab -->
<!-- GSXD-SECTION:BEGIN file=news/partials/hero.html tag=section idx=001 uid=af71a4da -->
<section
  class="relative h-[30vh] lg:h-[70vh] xl:h-[95vh] min-h-[400px] max-h-[740px] flex items-start justify-center text-white overflow-hidden"
>
  <!-- Background Image -->
  <div class="absolute inset-0 z-0">
    <img
      src="/assets/images/news-banner.png"
      alt="News Banner"
      class="w-full h-full object-cover"
    />
    <div class="absolute inset-0 md:bg-black/10 bg-black/20"></div>
  </div>

  <!-- Content -->
  <div
    class="relative z-10 text-center container mx-auto px-4 flex flex-col items-center pt-12"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    <p class="text-xs md:text-sm mb-4 opacity-100 font-medium tracking-wide text-white md:text-primary">Trang chủ &nbsp; > &nbsp; Tin tức</p>
    <h1 class="text-4xl md:text-5xl lg:text-6xl font-arima uppercase leading-tight text-white md:text-primary drop-shadow-sm">TIN TỨC</h1>
  </div>
</section>
<!-- GSXD-DEBUG:END type=LAYOUT file=news/partials/hero.html uid=53bd79ab -->



