<!-- GSXD-DEBUG:BEGIN type=LAYOUT file=news/partials/main-content.html uid=434520a6 -->
<!-- GSXD-SECTION:BEGIN file=news/partials/main-content.html tag=section idx=001 uid=b0745b10 -->
<section class="py-16 md:py-24 bg-neutral-2">
  <div class="w-[85%] max-w-[1320px] mx-auto flex flex-col gap-24 md:gap-32">
<!-- GSXD-PARTIAL:BEGIN file=news/partials/main-content.html include=news/partials/main-content-category-cam-nang idx=001 uid=eacfd8b1 -->
{{> news/partials/main-content-category-cam-nang}}
<!-- GSXD-PARTIAL:BEGIN file=news/partials/main-content.html include=news/partials/main-content-category-gom-su-thanh-hai idx=002 uid=d4b6d77f -->
{{> news/partials/main-content-category-gom-su-thanh-hai}}
<!-- GSXD-PARTIAL:BEGIN file=news/partials/main-content.html include=news/partials/main-content-category-cong-trinh-du-an idx=003 uid=9968ae3e -->
{{> news/partials/main-content-category-cong-trinh-du-an}}
  </div>
</section>
<!-- GSXD-DEBUG:END type=LAYOUT file=news/partials/main-content.html uid=434520a6 -->



