<!-- Filters -->
<div
  class="flex flex-wrap justify-between items-center gap-6 md:gap-12 mb-16"
  data-aos="fade-up"
>
  <button
    class="text-base md:text-xl font-archivo font-semibold text-secondary uppercaser relative after:content-[''] after:absolute after:-bottom-0 after:left-0 after:w-full after:h-[2px] after:bg-secondary"
  >
    NGÓI ÂM DƯƠNG
  </button>
  <button class="text-base md:text-xl font-archivo font-semibold text-primary uppercase hover:text-secondary transition-colors">
    NGÓI HÀI - VĂN MIẾU
  </button>
  <button class="text-base md:text-xl font-archivo font-semibold text-primary uppercase hover:text-secondary transition-colors">
    GẠCH THÔNG GIÓ
  </button>
  <button class="text-base md:text-xl font-archivo font-semibold text-primary uppercase hover:text-secondary transition-colors">
    GẠCH TRANG TRÍ
  </button>
  <button class="text-base md:text-xl font-archivo font-semibold text-primary uppercase hover:text-secondary transition-colors">
    SẢN PHẨM KHÁC
  </button>
</div>