<!-- GSXD-DEBUG:BEGIN type=LAYOUT file=projects/partials/list.html uid=af6726e4 -->
<!-- Projects List Section -->
<!-- GSXD-SECTION:BEGIN file=projects/partials/list.html tag=section idx=001 uid=b10aee32 -->
<section class="py-16 lg:py-20 bg-background-secondary">
  <div class="w-[85%] max-w-[1320px] mx-auto">
<!-- GSXD-PARTIAL:BEGIN file=projects/partials/list.html include=projects/partials/list-intro idx=001 uid=3a0ae463 -->
{{> projects/partials/list-intro}}
<!-- GSXD-PARTIAL:BEGIN file=projects/partials/list.html include=projects/partials/list-filters idx=002 uid=1c395375 -->
{{> projects/partials/list-filters}}
<!-- GSXD-PARTIAL:BEGIN file=projects/partials/list.html include=projects/partials/list-grid idx=003 uid=9090874b -->
{{> projects/partials/list-grid}}
<!-- GSXD-PARTIAL:BEGIN file=projects/partials/list.html include=projects/partials/list-pagination idx=004 uid=ec755bf2 -->
{{> projects/partials/list-pagination}}
  </div>
</section>
<!-- GSXD-DEBUG:END type=LAYOUT file=projects/partials/list.html uid=af6726e4 -->



