<!-- GSXD-DEBUG:BEGIN type=LAYOUT file=dich-vu-khach-hang/partials/customer-service/breadcrumb.html uid=ffb5a30b -->
<div class="py-12">
  <!-- GSXD-ELEMENT:BEGIN file=dich-vu-khach-hang/partials/customer-service/breadcrumb.html tag=nav idx=001 uid=29ed7595 -->
  <nav class="flex text-sm text-primary gap-4 items-center">
    <a href="/" class="hover:text-secondary transition-colors font-medium">Trang chủ</a>
    <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 1L5 5L1 9" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <a href="/dich-vu-khach-hang/trang-thai-don-hang.html" class="hover:text-secondary transition-colors font-medium">Dịch vụ khách hàng</a>
    <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 1L5 5L1 9" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <span class="text-primary">{{currentPage}}</span>
  </nav>
</div>
<!-- GSXD-DEBUG:END type=LAYOUT file=dich-vu-khach-hang/partials/customer-service/breadcrumb.html uid=ffb5a30b -->



