<!-- GSXD-DEBUG:BEGIN type=LAYOUT file=dich-vu-khach-hang/partials/customer-service/order-process-content.html uid=1ba55cce -->
<!-- GSXD-BLOCK:BEGIN file=dich-vu-khach-hang/partials/customer-service/order-process-content.html tag=div idx=001 uid=a7873ef5 -->
<div class="flex-1 lg:pl-12">
  <h1 class="text-3xl lg:text-[36px] font-arima font-medium text-primary mb-10 mt-[-6px]">Quy trình đặt hàng</h1>

  <div class="py-4">
    <img src="/assets/images/quy-trinh-dat-hang.svg" alt="Quy trình đặt hàng Thanh Hải Ceramics" class="w-full h-auto pointer-events-none select-none">
  </div>
</div>
<!-- GSXD-DEBUG:END type=LAYOUT file=dich-vu-khach-hang/partials/customer-service/order-process-content.html uid=1ba55cce -->




