<!-- GSXD-DEBUG:BEGIN type=LAYOUT file=dich-vu-khach-hang/partials/customer-service/order-process-content.html uid=1ba55cce -->
<!-- GSXD-BLOCK:BEGIN file=dich-vu-khach-hang/partials/customer-service/order-process-content.html tag=div idx=001 uid=a7873ef5 -->
<div class="flex-1 lg:pl-12">
  <h1 class="text-[30px] lg:text-[36px] font-arima font-medium text-primary mb-4 lg:mb-10 mt-[-6px]">Quy trình đặt hàng</h1>

  <div class="py-2 lg:py-4">
    <!-- Desktop Image -->
    <img src="/assets/images/quy-trinh-dat-hang.svg" alt="Quy trình đặt hàng Thanh Hải Ceramics" class="hidden lg:block w-full h-auto pointer-events-none select-none">
    <!-- Mobile Image -->
    <img src="/assets/images/quy-trinh-dat-hang-mobile.svg" alt="Quy trình đặt hàng Thanh Hải Ceramics" class="block lg:hidden w-full h-auto pointer-events-none select-none">
  </div>
</div>
<!-- GSXD-DEBUG:END type=LAYOUT file=dich-vu-khach-hang/partials/customer-service/order-process-content.html uid=1ba55cce -->




