<section class="w-full pb-16 animate-fade-in-up">
  <div
    class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-4 gap-y-10 sm:gap-x-6 sm:gap-y-14"
    data-aos="fade-up"
    data-aos-delay="200"
  >
    {{> components/products/product-card
    href="/products/linh-vat-phong-thuy/detail.html"
    image="/assets/images/ngoi-01.jpg" alt="Riềm Âm Dương Sen Bầu" title="Riềm
    âm dương sen bầu" code="MSP: 1234RDS" price="675.000 đ/m2" pricePrefix="Giá"
    showOverlay=true}} {{> components/products/product-card
    href="/products/linh-vat-phong-thuy/detail.html"
    image="/assets/images/ngoi-05.jpg" alt="Riềm Âm Dương Sen Bầu" title="Riềm
    âm dương sen bầu" code="MSP: 1234RDS" price="675.000 đ/m2" pricePrefix="Giá"
    showOverlay=true}} {{> components/products/product-card
    href="/products/linh-vat-phong-thuy/detail.html"
    image="/assets/images/ngoi-06.jpg" alt="Riềm Âm Dương Sen Bầu" title="Riềm
    âm dương sen bầu" code="MSP: 1234RDS" price="675.000 đ/m2" pricePrefix="Giá"
    showOverlay=true}} {{> components/products/product-card
    href="/products/linh-vat-phong-thuy/detail.html"
    image="/assets/images/ngoi-07.jpg" alt="Riềm Âm Dương Sen Bầu" title="Riềm
    âm dương sen bầu" code="MSP: 1234RDS" price="675.000 đ/m2" pricePrefix="Giá"
    showOverlay=true}}
  </div>
</section>
