<section class="w-full pb-16 animate-fade-in-up" data-product-section>
  <div class="lg:hidden" data-product-carousel-shell>
    <div class="swiper w-full overflow-hidden" data-product-carousel-swiper>
      <div class="swiper-wrapper">
        <article class="swiper-slide w-full pb-1" data-product-slide>
          <div class="grid grid-cols-2 gap-4">
            {{> components/products/product-card
            href="/products/linh-vat-phong-thuy/detail.html"
            image="/assets/images/ngoi-01.jpg" alt="Riềm Âm Dương Sen Bầu"
            title="Riềm âm dương sen bầu" code="MSP: 1234RDS" price="675.000
            đ/m2" wrapperClass="flex flex-col group cursor-pointer"
            imageContainerClass="bg-white
            shadow-[0px_4px_4px_0px_rgba(0,0,0,0.1)] overflow-hidden
            aspect-square" titleClass="mt-3 text-black font-semibold text-[14px]
            leading-[20px] uppercase" codeClass="text-gray-500 text-[12px]
            leading-[20px]" priceClass="text-secondary font-bold text-[14px]
            leading-[20px]"}} {{> components/products/product-card
            href="/products/linh-vat-phong-thuy/detail.html"
            image="/assets/images/ngoi-05.jpg" alt="Riềm Âm Dương Sen Bầu"
            title="Riềm âm dương sen bầu" code="MSP: 1234RDS" price="675.000
            đ/m2" wrapperClass="flex flex-col group cursor-pointer"
            imageContainerClass="bg-white
            shadow-[0px_4px_4px_0px_rgba(0,0,0,0.1)] overflow-hidden
            aspect-square" titleClass="mt-3 text-black font-semibold text-[14px]
            leading-[20px] uppercase" codeClass="text-gray-500 text-[12px]
            leading-[20px]" priceClass="text-secondary font-bold text-[14px]
            leading-[20px]"}} {{> components/products/product-card
            href="/products/linh-vat-phong-thuy/detail.html"
            image="/assets/images/ngoi-06.jpg" alt="Riềm Âm Dương Sen Bầu"
            title="Riềm âm dương sen bầu" code="MSP: 1234RDS" price="675.000
            đ/m2" wrapperClass="flex flex-col group cursor-pointer"
            imageContainerClass="bg-white
            shadow-[0px_4px_4px_0px_rgba(0,0,0,0.1)] overflow-hidden
            aspect-square" titleClass="mt-3 text-black font-semibold text-[14px]
            leading-[20px] uppercase" codeClass="text-gray-500 text-[12px]
            leading-[20px]" priceClass="text-secondary font-bold text-[14px]
            leading-[20px]"}} {{> components/products/product-card
            href="/products/linh-vat-phong-thuy/detail.html"
            image="/assets/images/ngoi-07.jpg" alt="Riềm Âm Dương Sen Bầu"
            title="Riềm âm dương sen bầu" code="MSP: 1234RDS" price="675.000
            đ/m2" wrapperClass="flex flex-col group cursor-pointer"
            imageContainerClass="bg-white
            shadow-[0px_4px_4px_0px_rgba(0,0,0,0.1)] overflow-hidden
            aspect-square" titleClass="mt-3 text-black font-semibold text-[14px]
            leading-[20px] uppercase" codeClass="text-gray-500 text-[12px]
            leading-[20px]" priceClass="text-secondary font-bold text-[14px]
            leading-[20px]"}}
          </div>
        </article>

        <article class="swiper-slide w-full pb-1" data-product-slide>
          <div class="grid grid-cols-2 gap-4">
            {{> components/products/product-card
            href="/products/linh-vat-phong-thuy/detail.html"
            image="/assets/images/ngoi-01.jpg" alt="Riềm Âm Dương Sen Bầu"
            title="Riềm âm dương sen bầu" code="MSP: 1234RDS" price="675.000
            đ/m2" wrapperClass="flex flex-col group cursor-pointer"
            imageContainerClass="bg-white
            shadow-[0px_4px_4px_0px_rgba(0,0,0,0.1)] overflow-hidden
            aspect-square" titleClass="mt-3 text-black font-semibold text-[14px]
            leading-[20px] uppercase" codeClass="text-gray-500 text-[12px]
            leading-[20px]" priceClass="text-secondary font-bold text-[14px]
            leading-[20px]"}} {{> components/products/product-card
            href="/products/linh-vat-phong-thuy/detail.html"
            image="/assets/images/ngoi-05.jpg" alt="Riềm Âm Dương Sen Bầu"
            title="Riềm âm dương sen bầu" code="MSP: 1234RDS" price="675.000
            đ/m2" wrapperClass="flex flex-col group cursor-pointer"
            imageContainerClass="bg-white
            shadow-[0px_4px_4px_0px_rgba(0,0,0,0.1)] overflow-hidden
            aspect-square" titleClass="mt-3 text-black font-semibold text-[14px]
            leading-[20px] uppercase" codeClass="text-gray-500 text-[12px]
            leading-[20px]" priceClass="text-secondary font-bold text-[14px]
            leading-[20px]"}} {{> components/products/product-card
            href="/products/linh-vat-phong-thuy/detail.html"
            image="/assets/images/ngoi-06.jpg" alt="Riềm Âm Dương Sen Bầu"
            title="Riềm âm dương sen bầu" code="MSP: 1234RDS" price="675.000
            đ/m2" wrapperClass="flex flex-col group cursor-pointer"
            imageContainerClass="bg-white
            shadow-[0px_4px_4px_0px_rgba(0,0,0,0.1)] overflow-hidden
            aspect-square" titleClass="mt-3 text-black font-semibold text-[14px]
            leading-[20px] uppercase" codeClass="text-gray-500 text-[12px]
            leading-[20px]" priceClass="text-secondary font-bold text-[14px]
            leading-[20px]"}} {{> components/products/product-card
            href="/products/linh-vat-phong-thuy/detail.html"
            image="/assets/images/ngoi-07.jpg" alt="Riềm Âm Dương Sen Bầu"
            title="Riềm âm dương sen bầu" code="MSP: 1234RDS" price="675.000
            đ/m2" wrapperClass="flex flex-col group cursor-pointer"
            imageContainerClass="bg-white
            shadow-[0px_4px_4px_0px_rgba(0,0,0,0.1)] overflow-hidden
            aspect-square" titleClass="mt-3 text-black font-semibold text-[14px]
            leading-[20px] uppercase" codeClass="text-gray-500 text-[12px]
            leading-[20px]" priceClass="text-secondary font-bold text-[14px]
            leading-[20px]"}}
          </div>
        </article>
      </div>
    </div>

    <div
      class="mt-3 flex justify-center gap-1"
      data-product-swiper-pagination
      aria-label="Product mobile pagination"
    ></div>
  </div>

  <div
    class="hidden lg:grid grid-cols-4 gap-x-6 gap-y-14"
    data-aos="fade-up"
    data-aos-delay="200"
  >
    {{> components/products/product-card
    href="/products/linh-vat-phong-thuy/detail.html"
    image="/assets/images/ngoi-01.jpg" alt="Riềm Âm Dương Sen Bầu" title="Riềm
    âm dương sen bầu" code="MSP: 1234RDS" price="675.000 đ/m2" pricePrefix="Giá"
    showOverlay=true}} {{> components/products/product-card
    href="/products/linh-vat-phong-thuy/detail.html"
    image="/assets/images/ngoi-05.jpg" alt="Riềm Âm Dương Sen Bầu" title="Riềm
    âm dương sen bầu" code="MSP: 1234RDS" price="675.000 đ/m2" pricePrefix="Giá"
    showOverlay=true}} {{> components/products/product-card
    href="/products/linh-vat-phong-thuy/detail.html"
    image="/assets/images/ngoi-06.jpg" alt="Riềm Âm Dương Sen Bầu" title="Riềm
    âm dương sen bầu" code="MSP: 1234RDS" price="675.000 đ/m2" pricePrefix="Giá"
    showOverlay=true}} {{> components/products/product-card
    href="/products/linh-vat-phong-thuy/detail.html"
    image="/assets/images/ngoi-07.jpg" alt="Riềm Âm Dương Sen Bầu" title="Riềm
    âm dương sen bầu" code="MSP: 1234RDS" price="675.000 đ/m2" pricePrefix="Giá"
    showOverlay=true}} {{> components/products/product-card
    href="/products/linh-vat-phong-thuy/detail.html"
    image="/assets/images/ngoi-01.jpg" alt="Riềm Âm Dương Sen Bầu" title="Riềm
    âm dương sen bầu" code="MSP: 1234RDS" price="675.000 đ/m2" pricePrefix="Giá"
    showOverlay=true}} {{> components/products/product-card
    href="/products/linh-vat-phong-thuy/detail.html"
    image="/assets/images/ngoi-05.jpg" alt="Riềm Âm Dương Sen Bầu" title="Riềm
    âm dương sen bầu" code="MSP: 1234RDS" price="675.000 đ/m2" pricePrefix="Giá"
    showOverlay=true}} {{> components/products/product-card
    href="/products/linh-vat-phong-thuy/detail.html"
    image="/assets/images/ngoi-06.jpg" alt="Riềm Âm Dương Sen Bầu" title="Riềm
    âm dương sen bầu" code="MSP: 1234RDS" price="675.000 đ/m2" pricePrefix="Giá"
    showOverlay=true}} {{> components/products/product-card
    href="/products/linh-vat-phong-thuy/detail.html"
    image="/assets/images/ngoi-07.jpg" alt="Riềm Âm Dương Sen Bầu" title="Riềm
    âm dương sen bầu" code="MSP: 1234RDS" price="675.000 đ/m2" pricePrefix="Giá"
    showOverlay=true}}
  </div>

  <div
    class="hidden lg:flex items-center justify-between gap-6 mt-16 text-textPrimary font-bold text-[17px]"
  >
    <button
      class="w-10 h-10 border-2 border-black/20 rounded-full flex items-center justify-center text-black/40 hover:border-black hover:text-black transition-all cursor-pointer"
    >
      <svg
        class="w-5 h-5"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 19l-7-7 7-7"
        ></path>
      </svg>
    </button>

    <div class="flex items-center gap-5">
      <a href="#" class="text-black border-b-[3px] border-black pb-[2px] px-1"
        >1</a
      >
      <a href="#" class="text-black/40 hover:text-black transition-colors px-1"
        >2</a
      >
      <a href="#" class="text-black/40 hover:text-black transition-colors px-1"
        >3</a
      >
      <span class="text-black/40 tracking-widest px-1">...</span>
      <a href="#" class="text-black/40 hover:text-black transition-colors px-1"
        >9</a
      >
    </div>

    <button
      class="w-10 h-10 border-2 border-black/20 rounded-full flex items-center justify-center text-black/40 hover:border-black hover:text-black transition-all cursor-pointer"
    >
      <svg
        class="w-5 h-5"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"
        ></path>
      </svg>
    </button>
  </div>
</section>
